/*Roboto Fonts for best readibility*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,500&display=swap');


/* Reset all styles to their default values */
* {
    margin: 0;
   
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  /* Style the HTML and body elements */
  html, body {
    height: 100%;
  }
  
  /*primary color */
:root {
    --primary-color: #686A4E;
    --light-gold-color: #B68D40;
    --cream-color: #F9F5E5; /* lighter cream color */
    --charcoal-color: #1F2323; /* darker charcoal color */
    --gold-color: #C4913F; /* lighter gold color */
    --ivory-color: #CFCDC2;
    --tan-color: #977557;
    --cool-gray-color: #B4B4B4;
    --background-color: #f1f1f1;
    --background-color-secondary: 6E898E;
    --background-mix-linear: linear-gradient(180deg, rgba(179, 167, 126, 0.42) 29.82%, rgba(105, 153, 155, 0.12) 99.99%, #6E898E 100%);

}
  
  /*secondary colors */
  :root {
    --cream-color: #FAE8E0;
    --spearmint-color: #B6E2D3;
    --rosewater-color: #D8A7B1;
    --black-color:black;
    --white-color:white;
    --sky-color: rgb(44, 172, 219); /*for hamburger color */
    --light-sky-color:rgb(31, 187, 239); /*for hambuger drop shadow color */
    --beige-light:rgb(245, 245, 220);
 
  }
  
  /*colors in your CSS styles */
  body {
    /*background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
    background-color:rgba(255, 122, 89, 0.747);*/
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

  
  /*text colors plus body*/
  body {
    line-height: 1;
    font-size: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    color:var(--black-color);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
  }

  /*text decoration */
  a{
    color:inherit;
    text-decoration: none;
  }
  
  /* Name Title
  .title-name{
    text-align: center;
    font-size: 2.5em;
    color: var(--black-color);
  } */
  
  /*Hamburger Menu*/
  .material-icons {
    cursor: pointer;
    margin-right: 10px;
  }
  .material-icons#toggle-btn {
    font-size: 36px;
    padding-left: 10px;
  }

  .material-icons{
  transition: all 0.3s ease-in-out; 
  }
  .material-icons:hover{
    color:var(--sky-color);
    transform: scale(1.4);
  }
  
  /* Style for menu items */
  .menu {
    list-style: none;
    margin: 0px;
    padding: 0;
    position: fixed; 
    top: 0;
    bottom: 0; /* bottom to 0 to cover entire height of viewport */
    left: -200px;
    width: 200px;
    background-color:var(--light-sky-color);
    overflow-y: auto;
    transition: all 0.3s ease-in-out; /*TODO:not working*/
    color:var(--white-color);
    font-size: 1.3em
  }

  /*content style for menu items */
  #menu{
    padding-top: 30px;
    padding-left: 15px;
  }
  #menu ul{
        margin: 0;
        padding: 0;
      }
      
      li {
        margin-bottom: 25px; /*margin to the bottom of each list item */
      }
      li{
        border-bottom: 0.5px solid var(--white-color);
      }
  
  /* Style for menu items on hover */
  .menu a li:hover {
  
    transform: scale(1.1); /*TODO:not working*/
  }
  .menu a li{
    transition: transform 0.3s ease;
  }
  
  /* Style for open menu */
  .menu-open {
    left: 0;
  }
  
  /* Style for hamburger */
  .menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding: 0px;
    color:var(--black-color);
  }
  
  /* Style for Notification and Sign Up*/
  .icons-container {
    position: absolute;
    top: 0;
    right: 5px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
    padding: 0px 10px;
  }
  
  /* Style for user photo 
  TODO:not working  */
  
.user-photo {
    position: fixed;
    top: 0;
    right: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:var(--black-color); /* Add a semicolon here */
    background-image: url('path/to/user/photo.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust this value to set the container's height */
    
  }

  form{
    padding-top: 2rem;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(174, 169, 169);
    border-radius: 35px;
    overflow: hidden;
  
  }
  
  
  #search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input[type="text"] {
    border: none;
    border-radius: 30px 0 0 30px;
    padding: 12px;
    font-size: 16px;
  }
  
  /* Responsive search box */
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 600px;
  min-height:none;
 
  margin: 0 auto;
}

#search-icon{
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

  

  
  /*searched word results*/
  .outputWords{
    display: flex;
    flex-direction: column;
    justify-content: center;
   color:rgb(53, 53, 93);
  }

  .outputWords {
    background-color:#cfcdc2;
    border-radius: 10px;
    padding: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  #word {
    margin-bottom: 5px;
    font-size: 25px;
  }
  
  #word-info {
    font-size: 20px;
    line-height: 2.5;
  }
  
  #word-info i {
    color: black;
  }
  
  #word-info p {
    margin-top: 0;
  }
  
  
  .bookmark-icon {
    display: inline-block;
    font-size: 20px;
    color: var(--light-sky-color);
    cursor: pointer;
  }
  
  
  
 
  
  
  
  
  
  
  
  
  
  
  

/*list icons on right hand side*/
.Right-column-menu {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 1rem;
    row-gap: 2rem;
    color:var(--black-color);
  }
  
  .material-symbols-outlined {
    font-size: 2rem;
    margin: 0.5rem 0;
    cursor: pointer;
  }
  .material-symbols-outlined:hover{
    color:var(--sky-color);
    transform: scale(1.3);
    
  }

  .material-symbols-outlined{
    transition: transform 0.4s ease-in-out;
  }

  /*style for every click on the right hand side icons*/
  .active{
    color:var(--sky-color);
    
    font-variation-settings:
    'FILL' 100,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  

  /*Main content
  TODO: change main content to words and meanings*/
  main {
   
    margin: 0 auto;
    max-width: 60rem;
    margin-top: 5rem;
  }
  

 
  

/*----------------------------------------------------------------*/
  /* Media queries- Responsive flexbox grid */
/*----------------------------------------------------------------*/

/* TODO: work needed for responsive flexbox grid*/
  @media (max-width: 799px) {
    .title-name {
      font-size: 1.4em;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1099px) {
    .title-name {
      font-size: 2em;
    }
  }
  
  @media (min-width: 1100px) {
    .title-name {
      font-size: 2.5em;
    }
  }
  